*.swp
jhub/keys
jhub/devel/devel
jhub/devel/devel.pub
jhub/devel/launch.json
k8smgr/devel/devel
k8smgr/devel/devel.pub
k8smgr/devel/launch.json
jhub/certs/venv
jhub/certs/jupyterhub.sqlite
jhub/certs/jupyterhub_cookie_secret
jhub/certs/secret.yaml
jhub/certs/ca_certs
jhub/certs/node_modules
jhub/certs/package-lock.json
jhub/certs/package.json
jhub/certs/internal-ssl
.vscode
# MacOS
.DS_Store